In [11]:
# SP500

import pandas as pd

sp500 = pd.read_csv("sp500_data.csv", usecols=[0, 1], header=0)

sp500["date"] = pd.to_datetime(sp500["Date"])
sp500.rename(columns={" Open": "price"}, inplace=True)

# Keep only the price of the first day of the month
sp500 = sp500.resample("M", on="date").first().dropna().reset_index(drop=True)

# Calculate how many shares can be purchased if invest $500 each month
sp500["shares_purchased"] = round(500 / sp500["price"], 3)

total_shares_purchased = sum(sp500["shares_purchased"])
total_invested = 12 * 30 * 500  # months * years * $500

print(f"Total shares purchased: {round(total_shares_purchased)}")
print(f"Total invested: ${total_invested}")
print(f"Average share price: ${round(total_invested / total_shares_purchased, 2)}")

sp500

Total shares purchased: 154
Total invested: $180000
Average share price: $1165.74

         Date    price  shares_purchased
0    01/04/93   435.38             1.148
1    02/01/93   442.52             1.130
2    03/01/93   442.01             1.131
3    04/01/93   450.30             1.110
4    05/03/93   442.46             1.130
..        ...      ...               ...
355  08/01/22  4112.38             0.122
356  09/01/22  3936.73             0.127
357  10/03/22  3609.78             0.139
358  11/01/22  3901.79             0.128
359  12/01/22  4087.14             0.122

[360 rows x 3 columns]

In [12]:
# EURO 50

import pandas as pd

euro_50 = pd.read_csv("euro_stoxx_50_data.csv", usecols=[0, 1], header=0)

euro_50["date"] = pd.to_datetime(euro_50["Date"])
euro_50.rename(columns={" Open": "price"}, inplace=True)

# Keep only the price of the first day of the month
euro_50 = euro_50.resample("M", on="date").first().dropna().reset_index(drop=True)

# Calculate how many shares can be purchased if invest $500 each month
euro_50["shares_purchased"] = round(500 / euro_50["price"], 3)

total_shares_purchased = sum(euro_50["shares_purchased"])
total_invested = 12 * 30 * 500  # months * years * $500

print(f"Total shares purchased: {round(total_shares_purchased)}")
print(f"Total invested: ${total_invested}")
print(f"Average share price: ${round(total_invested / total_shares_purchased, 2)}")

Total shares purchased: 67
Total invested: $180000
Average share price: $2678.09

In [13]:
# Shanghai Index

import pandas as pd

shanghai = pd.read_csv("shanghai.csv", usecols=[0, 1], header=0)

shanghai["date"] = pd.to_datetime(shanghai["Date"])
shanghai.rename(columns={" Open": "price"}, inplace=True)

# Keep only the price of the first day of the month
shanghai = shanghai.resample("M", on="date").first().dropna().reset_index(drop=True)

# Calculate how many shares can be purchased if invest $500 each month
shanghai["shares_purchased"] = round(500 / shanghai["price"], 3)

total_shares_purchased = sum(shanghai["shares_purchased"])
total_invested = 12 * 30 * 500  # months * years * $500

print(f"Total shares purchased: {round(total_shares_purchased)}")
print(f"Total invested: ${total_invested}")
print(f"Average share price: ${round(total_invested / total_shares_purchased, 2)}")

Total shares purchased: 109
Total invested: $180000
Average share price: $1646.72

In [15]:
# Nikkei 225

import pandas as pd

nikkei_225 = pd.read_csv("nikkei_225_data.csv", usecols=[0, 1], header=0)

nikkei_225["date"] = pd.to_datetime(nikkei_225["Date"])
nikkei_225.rename(columns={" Open": "price"}, inplace=True)

# Keep only the price of the first day of the month
nikkei_225 = nikkei_225.resample("M", on="date").first().dropna().reset_index(drop=True)

# Calculate how many shares can be purchased if invest $500 each month
nikkei_225["shares_purchased"] = round(500 / nikkei_225["price"], 3)

total_shares_purchased = sum(nikkei_225["shares_purchased"])
total_invested = 12 * 30 * 500  # months * years * $500

print(f"Total shares purchased: {round(total_shares_purchased)}")
print(f"Total invested: ${total_invested}")
print(f"Average share price: ${round(total_invested / total_shares_purchased, 2)}")

Total shares purchased: 12
Total invested: $180000
Average share price: $14622.26